//@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,700');

//$sansSerif: 'Roboto', sans-serif;
$browser-context: 16;

$black: #000;
$white: #fff;




// content: attr(data-text);

// 100% = 1 em ~= 16px ~= 14pt
// rem for everything em when needs to scale according to font size
/*

$bp-xs: 20em,  // 320px
$bp-sm: 48em,  // 768px
$bp-md: 64em,  // 1024px
$bp-lg: 80em,  // 1280px
$bp-xl: 90em,  // 1440px
$bp-xxl: 120em // 1920px

*/
