{{> components/global/head }}
    <div id="app-root" class="app-root tmpl-home">
      {{> components/global/header  }}
      <main role="main">
      </main>
      {{> components/global/footer }}
    </div><!-- end .app-root -->
{{> components/global/foot }}
